@import "../abstracts/mixins";

.saying{
    color: black;
    background: $hover-secondary;
    height: 20px;
    font-size: 15px;
    margin: 0px, 8px;
    padding: 6px 10px; 
}

.total{
    color: black;
    background: $hover-secondary;
    height: 27px;
    font-size: 28px;
    margin: 0px, 8px;
    padding: 6px 10px;
}


