@import "../abstracts/mixins";
@import '../abstracts/variables';

.saying {
    color: black;
    height: 20px;
    margin: 8px;
    padding: 6px;
}

.total {
    color: black;
    height: 27px;
    font-size: 28px;
    margin: 8px;
    padding: 6px;
}

.amount {
    font-weight: bold;
}