@import '../abstracts/variables';

table {
    border-radius: 4px;
    thead {
        tr:nth-child(even) {
            background-color: $secondary-color;
        }
        tr:nth-child(odd) {
            background-color: white;
        }
    }
}