@import '../abstracts/variables';

table {
    thead {
        tr {
            td {
                font-weight: bold;
                background-color: $primary-color;
            }
        }
    }
    tbody {
        border-radius: 4px;
        border: 1px solid $secondary-color;
        padding: 10px;
        tr:nth-child(even) {
            td {
                background-color: $secondary-color;
                font-size: $normal-font-size;
                border: 1px solid white;
            }
        }
        tr:nth-child(odd) {
            td {
                background-color: white;
                font-size: $normal-font-size;
                border: 1px solid $secondary-color;
            }
        }
    }
}