* {
  padding: 10px;
  margin: 0;
  transition: 0.2s;
  font-family: "Lato", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

body {
  font-weight: 400;
  color: black;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

.hide-text {
  overflow: hidden;
  padding: 10px;
  text-indent: 101%;
  white-space: nowrap;
}

/*
* Hide element while making it readable for screen readers
* Shamelessly borrowed from HTML5Boilerplate:
* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table thead tr td {
  font-weight: bold;
  background-color: #5cff7f;
}

table tbody {
  border-radius: 4px;
  border: 1px solid #cdf8b2;
}

table tbody tr:nth-child(even) td {
  background-color: #cdf8b2;
  font-size: 15px;
  border: 1px solid #d3f9bb;
  padding: 5px;
}

table tbody tr:nth-child(odd) td {
  background-color: white;
  font-size: 15px;
  border: 1px solid #cdf8b2;
  padding: 5px;
}

.sidebar {
  float: left;
  position: fixed;
  height: 100%;
  width: 220px;
  background-color: #cdf8b2;
  border: 2px dashed #5cff7f;
  border-radius: 5px;
  color: white;
  top: 0;
  left: 0;
}

.container {
  margin-left: 220px;
}

.saying {
  color: black;
  height: 20px;
  margin: 8px;
  padding: 6px;
}

.total {
  color: black;
  height: 27px;
  font-size: 28px;
  margin: 8px;
  padding: 6px;
}

.amount {
  font-weight: bold;
}
