* {
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

body {
  font-family: Lato, Open Sans, sans-serif;
  font-weight: 400;
  color: #0F1B07;
}

p {
  font-family: Lato, Open Sans, sans-serif;
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-family: Lato, Open Sans, sans-serif;
  font-weight: 400;
  color: #0F1B07;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

/*
* Hide element while making it readable for screen readers
* Shamelessly borrowed from HTML5Boilerplate:
* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.dropbutton {
  cursor: pointer;
}

.dropbutton:hover {
  color: #808080;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.expand {
  display: block;
}

.amount-change {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.amount-change .saying {
  color: black;
  padding-right: 8px;
  font-size: 36px;
  display: inline;
}

.amount-change button i {
  font-size: 30px;
}

.amount-total {
  color: black;
  font-size: 64px;
  text-align: center;
  margin-bottom: 36px;
}

table {
  border-radius: 4px;
}

table thead tr:nth-child(even) {
  background-color: #cdf8b2;
}

table thead tr:nth-child(odd) {
  background-color: white;
}
