@import '../abstracts/variables';
@import '../abstracts/mixins';

* {
	padding: 10px;
    margin: 0;
    transition: 0.2s;
    @include font-face;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

button {
    background: none;
    border: none;
}
