body {
    font-family: $default-font;
    font-weight: 400;
    color: $text-color;
  }

p {
    font-family: $default-font;
    margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
    font-family: $default-font;
    font-weight: 400;
    color: $text-color;
  }

