//fonts
$default-font: Lato, sans-serif !default;
//Code font family

$text-color: black;
$theme-color: rgb(22, 163, 64);

//colors
$primary-color: rgb(92, 255, 127);
$secondary-color: #cdf8b2;

$title-font-size: 30px;
$font-size: 15px;

